In [8]:
import numpy as np

a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])
mean_a = np.mean(a, axis = 0)
print(mean_a)

[2.  8.4]

In [10]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [18]:
a_centered_sp = 0
for i in range(a_centered.shape[0]):
    a_centered_sp = a_centered_sp + a_centered[i, 0] * a_centered[i, 1]
print(a_centered_sp)
covar = a_centered_sp / (a_centered.shape[0] - 1)
print(covar)

8.0
2.0

In [3]:
import pandas as pd

authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']})
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price': [450, 300, 350, 500, 450, 370, 290]})

In [4]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')
print(authors_price)

   author_id author_name                  book  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [5]:
authors_price.nlargest(5, "price")

   author_id author_name               book  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [46]:
# Долго провозился с этой задачей, уже почти созрел циклом перебирать все значения и складывать нужные, но в итоге
# наставник подсказал более простой путь.

# Здесь осколки попыток сделать по-другому:

# создаю пустой датафрейм для результатов
authors_stat = pd.DataFrame({'author_name': [], 
                          'min_price': [], 
                          'max_price': [],
                          'mean_price': []})
# складываю результаты группировки в переменную, как они там хранятся не понятно. 
group_by_authors = authors_price.groupby('author_name')
#можно вывести искомые данные на экран, но как их сохранить куда-то? 
#И в идеале сразу как-то сохранять сразу в новый датафрейм

#group_by_authors['price'].min()
#group_by_authors['price'].max()
#group_by_authors['price'].mean()

In [6]:
# Здесь подсказанное решение из одной строки. 

authors_stat = authors_price.groupby('author_name')['price'].agg(['min', 'max', 'mean'])
print(authors_stat)

             min  max        mean
author_name
Островский   290  370  330.000000
Тургенев     300  450  366.666667
Чехов        450  500  475.000000